---
interface Props {
  title: string;
  description: string;
  img: string;
}

const { title, description, img } = Astro.props;
---

<article
  class="w-full rounded-xl text-white px-4 py-5 pb-3.5 sm:pb-5 sm:max-w-2xl backdrop-blur-2xl flex flex-col justify-between shadow-xl md:min-h-44"
>
  <h3 class="text-lg font-bold">{title}</h3>
  <p class="text-zinc-400 text-sm text-pretty w-fit">
    {description}
  </p>
  <div class="w-full flex justify-end mt-2 py-1">
    <img src={img} alt={title} class="md:size-12 lg:size-14" />
  </div>
</article>

<style>
  article {
    font-family: "Netflix Sans", sans-serif;
    background: linear-gradient(149deg, #192247 0%, #210e17 96.86%);
  }
</style>
