---

---

<div class="relative w-full text-inherit">
  <input
    id="input-email"
    type="email"
    autocomplete="email"
    required
    minlength="5"
    maxlength="50"
    class="h-10 lg:h-12 px-6 rounded ring ring-arrows w-full text-inherit text-xs md:text-md font-inherit"
  />
  <label for="input-email" id="label-email" class="text-zinc-400">Email</label>

  <style>
    #label-email {
      position: absolute;
      font-weight: 500;
      top: 10px;
      left: 12px;
      transition: all 0.3s ease;
      pointer-events: none;
      font-size: 12px;
      font-family: "Netflix Sans", sans-serif;
    }

    #input-email:focus ~ #label-email,
    #input-email:valid ~ #label-email,
    #input-email:valid ~ #label-email {
      top: 3.2px;
      left: 22px;
      font-size: 10px;
      /* color: #333; */
    }

    @media (min-width: 478px) {
      #label-email {
        font-size: 14px;
        top: 8px;
      }
      #input-email:focus ~ #label-email,
      #input-email:valid ~ #label-email {
        top: 0.4px;
        left: 26px;
        font-size: 10px;
        /* color: #333; */
      }
    }

    @media (min-width: 1020px) {
      #label-email {
        font-size: 14px;
        top: 12.5px;
      }

      #input-email:focus ~ #label-email,
      #input-email:valid ~ #label-email {
        top: 1.5px;
        left: 26px;
        font-size: 10px;
        /* color: #333; */
      }
    }
  </style>
</div>
