---

---

<section
  class="w-full flex flex-col items-center justify-center relative overflow-hidden min-w-sm max-w-screen-xl mx-auto -mt-12"
>
  <div class="w-full px-4">
    <h3 class="font-medium lg:text-xl">Tendencias</h3>
  </div>
  <div id="container-slider"></div>
</section>
